@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  background-image: url('./recipe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Arial, sans-serif;
  color: #343a40;
  margin: 0;
  padding: 0;
  z-index: 1000;
}
.modal-content {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.modal-title {
  font-weight: 700;
}

.modal-body p {
  font-size: 1rem;
}

footer {
  margin-top: 5px;
  font-size: 1rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  color: #343a40;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.input-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

h6 {
  margin-top: 20px;
  font-size: 1rem;
  color: #495057;
}

.border {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.input-group-append .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.input-group-append .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 20px auto;
  }

  .card-img-top {
    height: 150px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
    margin: 10px auto;
  }

  .card-img-top {
    height: 100px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.25rem;
  }
}

.input-group .form-control {
  margin-right: 10px;
}

.input-group .form-control:last-child {
  margin-right: 0;
}

/*
.input-group {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.input-group .form-control {
  width: calc(100% - 200px);
  max-width: 500px;
  margin-right: 10px;
}

.input-group .btn {
  width: 100px;
}
*/